<div id="<%= dom_id grade %>">
  <p>
    <strong>Student:</strong>
    <%= grade.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= grade.course_id %>
  </p>

  <p>
    <strong>Grade value:</strong>
    <%= grade.grade_value %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= grade.created_at %>
  </p>

</div>
