<%= render "layouts/header" %>
<% content_for :title, "Dashboard" %>
  <% if flash[:notice] %>
    <div class="flash-notice" id="flash-notice">
      <p style="color: green;"><%= flash[:notice] %></p>
      <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>

    <script>
      setTimeout(function() {
        var flashNotice = document.getElementById("flash-notice");
        if (flashNotice) {
          flashNotice.style.display = 'none';
        }
      }, 5000);
    </script>
  <% end %>

  <div class="dashboard-container">
  
  <h1 style="margin-top:30px">Welcome to Your Homepage, <%= current_user.first_name %> <%= current_user.last_name %></h1>

  <!-- Courses Overview Section -->
  <section class="dashboard-section">
    <h2>Your Courses</h2>
    <% if @courses.present? %>
      <table>
        <thead>
          <tr>
            <th>Course Title</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= link_to course.title, course_path(course) %></td>
              <td><%= course.description %></td>
              <td><%= link_to 'View', course_path(course), class: 'btn-action' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>You are currently not enrolled in any courses. Please contact your student administrator.</p>
    <% end %>
  </section>
  
  <!-- Attendance Summary Section -->
  <section class="dashboard-section">
    <h2>Attendance Overview</h2>
    <% if @attendances.present? %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @attendances.each do |attendance| %>
            <tr>
              <td><%= attendance.date %></td>
              <td><%= attendance.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No attendance records available. </p>
    <% end %>
  </section>
  
  <!-- Grades Overview Section -->
  <section class="dashboard-section">
    <h2>Your Grades</h2>
    <% if @grades.present? %>
      <table>
        <thead>
          <tr>
            <th>Course Title</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          <% @grades.each do |grade| %>
            <tr>
              <td><%= grade.course.title %></td>
              <td><%= grade.grade_value %> %</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No grades currently available.</p>
    <% end %>
  </section>
  

    <!-- Notifications or Updates -->
    <section class="dashboard-section">
      <h2>Important Notifications</h2>
      <p>Currently mid term break. Semester 2 to continue 11/07/2024</p>
    </section>
  </div>

  <%= render "layouts/footer" %>
</body>
</html>
