<div id="<%= dom_id assignment %>">
  <p>
    <strong>Course:</strong>
    <%= assignment.course_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= assignment.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= assignment.description %>
  </p>

  <p>
    <strong>Assignment 1:</strong>
    <%= assignment.assignment_1 %>
  </p>

  <p>
    <strong>Assignment 2:</strong>
    <%= assignment.assignment_2 %>
  </p>

  <p>
    <strong>Assignment 3:</strong>
    <%= assignment.assignment_3 %>
  </p>

  <p>
    <strong>Exam:</strong>
    <%= assignment.exam %>
  </p>

  <p>
    <strong>Test:</strong>
    <%= assignment.test %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= assignment.due_date %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= assignment.created_at %>
  </p>

</div>
