<div id="<%= dom_id assignment %>">
<div class="table-wrapper">
<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Created At</th>
      <th>Download Assignment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= Course.find(assignment.course_id).title %></td>
      <td><%= assignment.title %></td>
      <td><%= assignment.description %></td>
      <td><%= assignment.due_date %></td>
      <td><%= assignment.created_at %></td>
      <td>
        <%= link_to 'Download', assignment.assignment_file, target: '_blank', class: 'btn-action btn-primary' %>
      </td>
    </tr>
  </tbody>
</table>
</div>


</div>
