<%= form_with(model: assignment, class: 'assignment-form', local: true, multipart: true) do |form| %>

  <% if assignment.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>
      <ul>
        <% assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :course_id, 'Select Course', class: 'form-label' %>
    <%= form.collection_select :course_id, @courses, :id, :title, { prompt: 'Choose a course' }, class: 'form-input' %>
  </div>


  <div class="form-group">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-input' %>
  </div>

  <!-- Assignment 1 grade field -->
  <div class="form-group">
    <%= form.label :"Assignment", class: 'form-label' %>
    <%= form.number_field :assignment_1, step: 0.01, class: 'form-input' %>
  </div>

  <!-- File upload for assignment -->
  <div class="form-group">
    <%= form.label :assignment_file, 'Upload Assignment File', class: 'form-label' %>
    <%= form.file_field :assignment_file, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :due_date, class: 'form-label' %>
    <%= form.datetime_field :due_date, class: 'form-input' %>
  </div>

  

  <div class="form-actions">
    <%= form.submit 'Create Assignment', class: 'btn-submit' %>
  </div>
<% end %>
