<%= form_with(model: assignment) do |form| %>
  <% if assignment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
        <% assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :course_id, style: "display: block" %>
    <%= form.number_field :course_id %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :assignment_1, style: "display: block" %>
    <%= form.text_field :assignment_1 %>
  </div>

  <div>
    <%= form.label :assignment_2, style: "display: block" %>
    <%= form.text_field :assignment_2 %>
  </div>

  <div>
    <%= form.label :assignment_3, style: "display: block" %>
    <%= form.text_field :assignment_3 %>
  </div>

  <div>
    <%= form.label :exam, style: "display: block" %>
    <%= form.text_field :exam %>
  </div>

  <div>
    <%= form.label :test, style: "display: block" %>
    <%= form.text_field :test %>
  </div>

  <div>
    <%= form.label :due_date, style: "display: block" %>
    <%= form.datetime_field :due_date %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
