<%= render "layouts/header" %>

<h1>Link Your Account with a Student</h1>

<% if @students.present? %>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.email %></td>
          <td>
            

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No unlinked students available to link.</p>
<% end %>
<%= render "layouts/footer" %>