<%= render "layouts/header" %>

<div class="container">
  <h1 class="table-heading">Submissions</h1>
  


  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Assignment</th>
          <th>Student ID</th>
          <th>Submission Date</th>
          <th>Grade</th>
          <th>Feedback</th>
          <th>File</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @submissions.each do |submission| %>
          <tr id="<%= dom_id(submission) %>">
            <td><%= Assignment.find(submission.assignment_id).title %></td>
            <td><%= User.find(submission.user_id).first_name + " " + User.find(submission.user_id).last_name %></td>
            <td><%= submission.submission_date %></td>
            <td><%= submission.grade %></td>
            <td><%= submission.feedback %></td>
            <td>
              <% if submission.file.attached? %>
                <%= link_to "Download File", rails_blob_path(submission.file, disposition: "attachment") %>
              <% else %>
                No file uploaded
              <% end %>
            </td>
            
            <td>
              <% unless submission.grade.present? || submission.feedback.present? %>
                <%= link_to 'Show', submission_path(submission), class: 'btn-action' %>
                <%= link_to 'Edit', edit_submission_path(submission), class: 'btn-action btn-warning' %>
                <%= link_to 'Delete', submission_path(submission), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-action btn-danger' %>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'New Submission', new_submission_path, class: 'btn-action btn-primary' %>
</div>

<%= render "layouts/footer" %>