<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Student:</strong>
    <%= enrollment.user_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= enrollment.course_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= enrollment.status %>
  </p>

  <p>
    <strong>Enrolled at:</strong>
    <%= enrollment.enrolled_at %>
  </p>

</div>
