<%= render "layouts/header" %>
<% content_for :title, "Enrollments" %>

<div class="container">
  <h1 class="table-heading">Enrollments</h1>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Course</th>
          <th>Status</th>
          <th>Enrollment date</th>
          
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @enrollments.each do |enrollment| %>
          <tr id="<%= dom_id(enrollment) %>">
            <td><%= User.find(enrollment.user_id).first_name + " " + User.find(enrollment.user_id).last_name %></td>
            
            <td><%= Course.find(enrollment.course_id).title %></td>
            <td><%= enrollment.status %></td>
            <td><%= enrollment.enrolled_at %></td>
            <td>
            <% unless current_user.student? || current_user.guardian? %> 
              <%= link_to 'Show', enrollment_path(enrollment), class: 'btn-action' %>
              <%= link_to 'Edit', edit_enrollment_path(enrollment), class: 'btn-action btn-warning' %>
              <%= link_to 'Delete', enrollment_path(enrollment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-action btn-danger' %>
            <%end%>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% unless current_user.student? || current_user.guardian? %>
  <%= link_to 'New Enrollment', new_enrollment_path, class: 'btn-action btn-primary' %>
<% end %>

</div>

<%= render "layouts/footer" %>

<%= render "layouts/footer" %>