<%= render "layouts/header" %>

<% content_for :title, "Courses" %>

<div class="container">
  <h1 class="table-heading">Courses</h1>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Instructor ID</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr id="<%= dom_id(course) %>">
            <td><%= course.title %></td>
<td><%= course.description %></td>
<td>
  <%= if user = User.find_by(id: course.user_id)
        "#{user.first_name} #{user.last_name}"
      else
        "User not found"
      end %>
</td>

            <td>
              <%= link_to 'Show', course_path(course), class: 'btn-action' %>
              <%= link_to 'Edit', edit_course_path(course), class: 'btn-action btn-warning' %>
              <%= link_to 'Delete', course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-action btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'New Course', new_course_path, class: 'btn-action btn-primary' %>
</div>


<%= render "layouts/footer" %>
