<%= form_with(model: attendance, class: 'assignment-form') do |form| %>
  
  <% if attendance.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>
      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user_id, 'Select Student', class: 'form-label' %>
    <%= form.select :user_id, options_from_collection_for_select(User.where(role: 'student'), :id, :full_name), { prompt: "Select a Student" }, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :course_id, 'Select Course', class: 'form-label' %>
    <%= form.select :course_id, options_from_collection_for_select(Course.all, :id, :title), { prompt: "Select a Course" }, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :date, 'Date', class: 'form-label' %>
    <%= form.date_field :date, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :status, 'Attendance Status', class: 'form-label' %>
    <%= form.select :status, options_for_select([['Present', 'Present'], ['Absent', 'Absent']]), { prompt: "Select Status" }, class: 'form-input' %>
  </div>

  <div class="form-actions">
    <%= form.submit 'Save Attendance', class: 'btn-action btn-primary' %>
  </div>

<% end %>
