<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.select :user_id, options_from_collection_for_select(User.where(role: 'student'), :id, :full_name), prompt: "Select a Student" %>
  </div>

<div>
  <%= form.label :course_id, style: "display: block" %>
  <%= form.select :course_id, options_from_collection_for_select(Course.all, :id, :title), prompt: "Select a Course" %>
</div>

<div>
  <%= form.label :date, style: "display: block" %>
  <%= form.date_field :date %>
</div>

<div>
  <%= form.label :status, style: "display: block" %>
  <%= form.select :status, options_for_select([['Present', 'Present'], ['Absent', 'Absent']]), prompt: "Select Status" %>
</div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
