<!-- Header with Logo and Logout -->
<header class="header">
  <div class="logo">
  <%= link_to dashboard_path do %>
    <%= image_tag 'lsmlogo.png', alt: 'Logo' %>
  <% end %>
  <hr>
  </div>


  <!-- Quick Navigation Links -->
  <div class="dashboard-navigation">
  <% if current_user %>
    

    

    <% if current_user.student? %>
      <%= link_to 'Home', dashboard_path %>
      <%= link_to 'Enrollments', enrollments_path %>
      <%= link_to 'Assignments', assignments_path %>
      <%= link_to 'Submissions', submissions_path %>
      
      
    <% end %>

    <% if current_user.instructor? %>
      <%= link_to 'Courses', courses_path %>
      <%= link_to 'Assignments', assignments_path %>
      <%= link_to 'Grade Submissions', submissions_path %>
      <%= link_to 'Attendance', attendances_path %>
      <%= link_to 'Enrollments', enrollments_path %>
    <% end %>

    <% if current_user.guardian? %>
      <%= link_to 'Home', dashboard_path %>
      <%= link_to 'View student submissions and grades', submissions_path %>
      <%= link_to 'Attendance', attendances_path %>
    <% end %>

    <% if current_user.admin? %>
      <%= link_to 'Home', dashboard_path %>
      <%= link_to 'Courses', courses_path %>
      <%= link_to 'Enrollments', enrollments_path %>
      <%= link_to 'Assignments', assignments_path %>
      <%= link_to 'Submissions', submissions_path %>
      <%= link_to 'Attendance', attendances_path %>
      <%= link_to 'Grades', grades_path %>
  
    <% end %>
  <% end %>
</div>

 

  <div class="user-info">
  <%= image_tag 'usericon.png', class: 'user-icon' %>
  <span class="current-user"><%= current_user.role.capitalize %> - <%= current_user.first_name %> <%= current_user.last_name %></span>
  <%= button_to 'Logout', logout_path, method: :delete, class: 'logout-button' %>
</div>

</div>



</header>
<hr style="width:95%;text-align:left;margin:20px">






