<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Learner Management System" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="<%= asset_path('icon.png') %>" type="image/png">
    <link rel="icon" href="<%= asset_path('icon.png') %>" type="image/x-icon">
    <link rel="apple-touch-icon" href="<%= asset_path('icon.png') %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('icon.png') %>
    
  </head>

  <body>


  <div class="notice-wrapper">
    <% if notice %>
      <div id="notice-popup" class="notice">
        <p><%= notice %></p>
      </div>
    <% end %>
  </div>

  
    <%= yield %>



    <script>
    document.addEventListener("DOMContentLoaded", function () {
      const noticePopup = document.getElementById("notice-popup");
      if (noticePopup) {
        // Auto-hide after 3 seconds
        setTimeout(function () {
          noticePopup.style.display = "none";
        }, 3000);
      }
    });
  </script>


  </body>
</html>
